= simple_form_for [post, post.comments.build] do |f|
  = f.input :body, required: true, label: false, as: :ckeditor, input_html: { ckeditor: {toolbar: 'simple'} }

  %br
  = recaptcha_tags ajax: true unless current_user
  %br
  = f.submit 'Reply', class: "btn btn-success comment-reply"