%h1 Listing posts

- @posts.each do |post|
  %article
    %h1= link_to post.title, post
    %p= truncate post.content, length: 140    
%hr
= link_to 'New Post', new_post_path, class: "btn btn-success"
